*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background-color: black;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    height: 400px;
    width: 400px;
    background-color: red;
    border-radius: 50%;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: moving;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moving {
    from{
        transform: rotate(0deg) translateX(300px) rotate(0deg);
    }
    to{
        transform:rotate(360deg) translateX(300px) rotate(-360deg);
    }
    
}

/* .sun{
    height: 50px;
    width: 50px;
    background-color: aqua;
    transform: translateX(100px);
    border-radius: 50%;
} */
 