body{
    background-color: lightskyblue;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

  
}

.container{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 30px yellow;
}


